<div class="row">
  <div class="col-xs-12">
      <app-header></app-header>
  </div>
</div>
<app-histogramer [dataforInput]="dataforInput"></app-histogramer>
<div class="row">
    <div class="col-xs-12">
        <app-fileexplorer
        [fileElements]="fileElements | async" [path]="currentPath"
        [canNavigateUp]="canNavigateUp"
        (folderAdded)="addFolder($event)"
        (elementRemoved)="removeElement($event)"
        (navigatedDown)="navigateToFolder($event)"
        (navigatedUp)="navigateUp()"
        (elementRenamed)="renameElement($event)"
        (elementMoved)="moveElement($event)">
        </app-fileexplorer>
    </div>

</div>

<br/>
<div class="row">
    <div class="col-xs-6">
        <app-textvisualizer [decodedText]='decodedText'></app-textvisualizer>
    </div>
    <div class="col-xs-6">
        <app-wordfrequency></app-wordfrequency>
    </div>
</div>
